// ---- Mobile First

@media screen  and (max-width: 480px) {
  #video {
    display: none;
  }
  .homepage__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 100vh;
    padding-top: 25%;

    &__evadia {
      text-transform: uppercase;
      color: #54e35d;
      font-weight: bold;
      font-size: 2rem;
      text-shadow: 2px 2px 1px rgb(59, 59, 59);
    }
    &__h1 {
      margin: 2rem 0 3rem 0;
      text-align: center;
      font-size: 1.5rem;
      color: white;
      text-shadow: 2px 2px 80px rgb(59, 59, 59);
    }
    &__h2 {
      display: none;
    }

    &__search {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 2rem;

      &__link {
        padding: 1rem;
        margin-bottom: 1.5rem;
        background-color: white;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 20px;
        background: linear-gradient(145deg, #ffd452, #e6b245);
        box-shadow: 5px 5px 0px #d9a841, -5px -5px 0px #ffe459;

        &__button {
          text-decoration: none;
          color: inherit;
          width: 80%;
          cursor: pointer;
        }
      }

      &__link:hover {
        border-radius: 20px;
        background: #ffc64d;
        box-shadow: inset 5px 5px 0px #d9a841, inset -5px -5px 0px #ffe459;
        color: white;
      }
    }
  }
}

// ------ CSS Desktop ---------

@media screen and (min-width: 481px) {
  #video {
    position: fixed;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
  }

  .homepage__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15%;

    &__evadia {
      text-transform: uppercase;
      color: #54e35d;
      font-weight: bold;
      font-size: 3.5rem;
      text-shadow: 1px 1px 5px rgba(39, 39, 39, 0.2);
    }
    &__h1 {
      text-align: center;
      font-size: 3rem;
      color: white;
      text-shadow: 1px 1px 20px rgba(39, 39, 39, 0.3);
    }
    &__h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 4rem;
      color: white;
      text-shadow: 1px 1px 18px rgb(44, 44, 44);
    }
    &__search {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin: 2rem;

      &__link {
        padding: 1rem;
        margin-bottom: 1.5rem;
        background-color: white;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 20px;
        background: linear-gradient(145deg, #ffd452, #e6b245);
        box-shadow: 5px 5px 0px #d9a841, -5px -5px 0px #ffe459;
        width: 100%;

        &__button {
          text-decoration: none;
          color: inherit;
          width: 25%;
          cursor: pointer;
        }
      }

      &__link:hover {
        border-radius: 20px;
        background: #ffc64d;
        box-shadow: inset 5px 5px 0px #d9a841, inset -5px -5px 0px #ffe459;
        color: white;
      }
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 46%);
  backdrop-filter: blur(2px);
}

.modal {
  position: fixed;
  top: 50%;
  max-width: 600px;
  margin: 0 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  background: linear-gradient(145deg, #ffd452, #e6b245);
  box-shadow: 0 4px 10px -4px;
  border-radius: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    margin-bottom: 1rem;
  }

  .auto-suggest {
    .react-autosuggest__input {
      width: 100%;
      padding: 0.4rem;
      background: transparent;
      border: none;
      border-bottom: 2px solid #c89833;
      color: #c89833;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 1px;
      -webkit-appearance: none;
      &::focus-visible {
        outline: none;
      }
    }

    &__result {
      padding: 0.7rem 0.5rem;
      font-weight: bold;
      font-size: 1.3rem;
      background: #e7b345;
      border-bottom: 2px solid #f5da9e;
      color: #333;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #cc9d37;
        color: rgb(37, 37, 37);
      }
    }

    & ~ div {
      max-height: 570px;
      height: 100%;
      overflow-y: scroll;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: #987731;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    color: #ebb948;
  }
}
