// ---- Mobile First

@media screen and (max-width: 768px) {
  #video {
    display: none;
    filter: alpha(opacity=5);
  }

  .homepage__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 100vh;
    padding-top: 25%;

    &__evadia {
      // position: relative;
      margin-bottom: 3rem;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.5rem;
      color: #54e35d;
      text-shadow: 2px 2px 5px rgba(14, 31, 14, 0.5);
      // -webkit-animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      //     animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      -webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }

    // &__h1:before {
    //   z-index: -1;
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   inset: 0;
    //   background-color: rgba(54, 54, 54, 0.9);
    //   width: auto;
    //   filter: blur(70px);
    // }

    &__h1 {
      // position: relative;
      text-align: center;
      margin-bottom: 1rem;
      font-size: 2rem;
      color: white;
      text-shadow: 2px 2px 5px rgba(14, 31, 14, 0.7);
    }
    &__h2 {
      display: none;
    }

    &__search {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 2rem;

      &__link {
        padding: 1rem;
        margin-bottom: 1.5rem;
        background-color: white;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 20px;
        background: linear-gradient(145deg, #ffd452, #e6b245);
        box-shadow: 5px 5px 0px #d9a841, -5px -5px 0px #ffe459;

        &__button {
          text-decoration: none;
          color: inherit;
          width: 80%;
          cursor: pointer;
        }
      }

      &__link:hover {
        border-radius: 20px;
        background: #ffc64d;
        box-shadow: inset 5px 5px 0px #d9a841, inset -5px -5px 0px #ffe459;
        color: white;
      }
    }
  }
}

// ------ CSS Desktop ---------

@media screen and (min-width: 769px) {
  #video {
    position: fixed;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    min-height: 100vh;
  }

  .homepage__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;

    &__evadia {
      text-transform: uppercase;
      text-align: center;
      color: #54e35d;
      margin-bottom: 6rem;
      font-weight: bold;
      font-size: 3.5rem;
      text-shadow: 1px 1px 3px rgba(39, 39, 39, 0.7);
      // -webkit-animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      //     animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
      -webkit-animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-expand-fwd-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }
    &__h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 3rem;
      color: white;
      text-shadow: 1px 1px 20px rgba(39, 39, 39, 0.7);
    }
    &__h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 6rem;
      color: white;
      text-shadow: 1px 1px 18px rgb(44, 44, 44);
    }
    &__search {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      margin-top: 2rem;
      width: 100%;

      &__link {
        padding: 1rem;
        margin-bottom: 1.5rem;
        background-color: white;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 20px;
        background: linear-gradient(145deg, #ffd452, #e6b245);
        box-shadow: 5px 5px 0px #d9a841, -5px -5px 0px #ffe459;
        width: 100%;

        &__button {
          text-decoration: none;
          color: inherit;
          width: 25%;
          cursor: pointer;
        }
      }

      &__link:hover {
        border-radius: 20px;
        background: #ffc64d;
        box-shadow: inset 5px 5px 0px #d9a841, inset -5px -5px 0px #ffe459;
        color: white;
      }
    }
  }
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    // -webkit-transform: translateZ(-700px) translateY(-500px);
    //         transform: translateZ(-700px) translateY(-500px);
    -webkit-transform: translateZ(-200px) translateY(-100px);
    transform: translateZ(-200px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    // -webkit-transform: translateZ(-700px) translateY(-500px);
    //         transform: translateZ(-700px) translateY(-500px);
    -webkit-transform: translateZ(-200px) translateY(-100px);
    transform: translateZ(-200px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 46%);
  backdrop-filter: blur(2px);
}

.modal {
  position: fixed;
  top: 50%;
  max-width: 600px;
  margin: 0 1, 5rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  background: linear-gradient(145deg, #ffd452, #e6b245);
  box-shadow: 0 4px 10px -4px;
  border-radius: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    margin-bottom: 1rem;
  }

  .auto-suggest {
    .react-autosuggest__input {
      width: 100%;
      padding: 0.4rem;
      background: transparent;
      border: none;
      border-bottom: 2px solid #c89833;
      color: #c89833;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 1px;
      -webkit-appearance: none;
      &::focus-visible {
        outline: none;
      }
    }

    &__result {
      padding: 0.7rem 0.5rem;
      font-weight: bold;
      font-size: 1.3rem;
      background: #e7b345;
      border-bottom: 2px solid #f5da9e;
      color: #333;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #cc9d37;
        color: rgb(37, 37, 37);
      }
    }

    & ~ div {
      max-height: 570px;
      height: 100%;
      overflow-y: scroll;
    }
  }

  &__close {
    position: absolute;
    top: 1.15rem;
    right: 1.1rem;
    background: #987731;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    color: #ebb948;
  }
}
