// Desktop
@media screen and (min-width: 768px) {
  .notfound__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    position: fixed;
    inset: 0;
    
    

    &__p {
      border-radius: 20px;
      padding: 1.5rem;
      font-size: 1.4rem;
      font-weight: bold;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    .notfound__img {
      width: auto;
      border-radius: 20px;
    }
  }

  .notFound__form-group-button {
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.2rem;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: #fff;
    background: #04aa6d;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    display: block;
    outline: none;
    border: none;
    box-shadow: 0 5px #1f5f35;
    }
  
    .notFound__form-group-button:hover {
    box-shadow: 0 3px #1f5f35;
    background-color: darkcyan;
    top: 1px;
    }
  
    .notFound__form-group-button:active {
    box-shadow: 0 0 #57cc99;
    top: 5px;
    }
}

// Mobile
@media screen and (max-width: 768px) {
  .notfound__img {
    margin-top: 5rem;
    width: 90%;
  }

  .notfound__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;

    &__p {
      border-radius: 20px;
      padding: 1.5rem;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
  }

  .notFound__form-group-button {
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.2rem;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: #fff;
    background: #04aa6d;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    display: block;
    outline: none;
    border: none;
    box-shadow: 0 5px #1f5f35;
    }
  
    .notFound__form-group-button:hover {
    box-shadow: 0 3px #1f5f35;
    background-color: darkcyan;
    top: 1px;
    }
  
    .notFound__form-group-button:active {
    box-shadow: 0 0 #57cc99;
    top: 5px;
    }
}

// @media screen and (min-width: 320px) and (max-width: 480px) {
//   .notfound__img {
//     width: 90%;
//     margin: auto;
//   }

//   .notfound__container__p {
//     width: 90%;
//     text-align: center;
//   }
// }
// .notfound__container {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   margin-top: 10rem;

//   &__p {
//     border-radius: 20px;
//     padding: 1.5rem;
//     font-size: 1.4rem;
//     font-weight: bold;
//   }
// }

// .notfound__img {
//   width: 70%;
// }
