// Desktop
@media screen and (min-width: 768px) {
  .notfound__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10rem;

    &__p {
      border-radius: 20px;
      padding: 1.5rem;
      font-size: 1.4rem;
      font-weight: bold;
    }

    .notfound__img {
      width: 30%;
    }
  }
}

// Mobile
@media screen and (max-width: 768px) {
  .notfound__img {
    margin-top: 5rem;
    width: 90%;
  }

  .notfound__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;

    &__p {
      border-radius: 20px;
      padding: 1.5rem;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: center;
    }
  }
}

// @media screen and (min-width: 320px) and (max-width: 480px) {
//   .notfound__img {
//     width: 90%;
//     margin: auto;
//   }

//   .notfound__container__p {
//     width: 90%;
//     text-align: center;
//   }
// }
// .notfound__container {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   margin-top: 10rem;

//   &__p {
//     border-radius: 20px;
//     padding: 1.5rem;
//     font-size: 1.4rem;
//     font-weight: bold;
//   }
// }

// .notfound__img {
//   width: 70%;
// }
