
.results__criteria {
  display: flex;
  justify-content: space-around;
}

.picture {
  width: 6rem;
  margin-right: 100px;
}


.result__button {
  width: 90%;
  height: 5rem;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	align-content: stretch;
  margin-top: 20px;
  }

  .result__info {
    display: flex;
    flex-direction: column;
    justify-content: fcenter;
    align-items: center;
    }