​ .list__results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-height: 100vh;

  &.with-map {
    position: absolute;
    top: 6rem;
    z-index: 99;
    width: 350px;
    bottom: 1rem;
    overflow-y: scroll;
    padding: 1rem;

    .blur {
      position: absolute;
      inset: 0;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
      backdrop-filter: blur(3px);
    }

    .results {
      z-index: 2;

      .result {
        z-index: 2;
      }
    }
  }
}
