.forgoten-password {
  padding: 1rem 2rem;
  background-color: #efefef;
  background-image: url("../../assets/images/bckgrnd_uhd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 8rem;;
    margin-bottom: 5rem;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  }

  &__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        text-align: left;
        max-width: 80%;
        font-size: 2rem;
      }
    }
  }

  &__form__readLegals {
    margin-bottom: 30px;
  }

  &__form__readLegals__title {
    margin-left: 5px;
    font-size: small;
  }

  &__form__readLegals__link {
    margin-left: 5px;
  }

  &__form-group-button {
    border: none;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: 0 2px 10px -4px rgb(0 0 0 / 30%);
    background-color: #38bd98;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    margin: 0.6rem 0;
    transition: 0.6s;
  }

  &__form-group-button:hover {
    background-color: darkcyan;;
  }
}
