.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.forgottenPassword {
  text-align: center;
  width: 70%;

  &__title {
    font-size: large;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  &__form {
    padding-top: 3rem;
  }

  &__form__submit {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.newPassword__form__submit {
  &__btn {
    border: none;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #2ef259, #27cb4b);
  }

  &__btn:hover {
    text-decoration: none;
    border-radius: 50px;
    background: #2be253;
    box-shadow: inset 5px 5px 0px #25c047, inset -5px -5px 0px #31ff5f;
  }
}
