:root {
  --background: #fff;
  --beforeWidth: 100%;
}

.toast {
  position: fixed;
  top: 90px;
  right: 10px;
  width: 300px;
  max-height: calc(100vh - 100px);
  z-index: 99;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      position: relative;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      outline: 1px solid #2a54bd;
      margin: 0.5rem 0;
      padding: 0.5rem calc(24px + 0.5rem);
      border-radius: 0.25rem;
      width: 100%;
      min-height: calc(24px + 1rem);
      word-wrap: break-word;
      background: rgb(14, 14, 14);
      box-shadow: 0 10px 10px -10px rgb(0 0 0 / 80%);
      color: rgb(238, 238, 238);
      font-weight: 700;
      font-size: 1rem;
      z-index: 9999;
      transition: 0.2s;

      // &:not(:first-child) {
      //   margin-top: -3rem;
      // }

      // &:hover ~ .toast__container__item,
      // &:focus-within ~ .toast__container__item {
      //   transform: translateY(3rem);
      // }

      &:before {
        content: '';
        display: block;
        position: absolute;
        background: var(--background);
        width: var(--beforeWidth);
        opacity: 0.35;
        top: 0;
        right: 0;
        bottom: 0;
        mix-blend-mode: multiply;
        transition: width 0.1s ease;
      }

      p {
        font-weight: 600;
      }

      .icon {
        position: absolute;
        left: -20px;
        top: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 50%;
        font-size: 2rem;
        transform: translate3d(0, -50%, 0);
        outline: 1px solid #19d041;
        color: #19d041;
      }

      &.info {
        --background: #c7af27;
        outline: 1px solid var(--background);
        background: linear-gradient(45deg, #fbe0a6, #edc393);
        color: rgb(14, 14, 14);

        .icon {
          outline: 1px solid var(--background);
          color: var(--background);
        }
      }

      &.error {
        --background: #d01919;
        outline: 1px solid var(--background);
        background: linear-gradient(45deg, #fba6a6, #ed9393);
        color: rgb(14, 14, 14);

        .icon {
          outline: 1px solid var(--background);
          color: var(--background);
        }
      }

      &.success {
        --background: #19d041;
        outline: 1px solid var(--background);
        background: linear-gradient(45deg, #a6fbaa, #93ed97);
        color: rgb(14, 14, 14);

        .icon {
          outline: 1px solid var(--background);
          color: var(--background);
        }
      }
    }
  }

  &__close {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 800;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 24px;
    height: 24px;
    color: #333333;
    display: flex;
    align-items: center;
  }
}
