* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  max-width: 480px;
  margin: 2rem auto;
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  }


.accordion__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(3px);
  border: none;
  color: white;
  
}


.accordion__title,
.accordion__content {
  padding: 1rem;
}

.accordion__content {
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 0px 0px;
  
  &__li {
    margin-left: 1rem;
  }
  &:last-child {
    border-radius: 0px 0px 10px 10px;
  }
  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 10px;
    bottom: 0px;
    width: 80px;
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: rgb(226, 43, 43);
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px 0 10px 0;
    transition: 0.6s;
    text-transform: uppercase;
    font-size: 0.8rem;
    
    &:hover {
      background-color: rgb(138, 30, 30);
    }
  }
  &:not(:last-child) {
    .accordion__content__btn {
      border-radius: 10px 0 0;
    }
  }
}

  

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}
