@media screen and (min-width: 768px) {
  .btn__desktop {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    border-bottom: 2px black solid;
    // padding-bottom: 4%;
    // padding-top: 4%;
    background: #efefef;
    width: 100%;
    // background: rgb(72, 196, 236);
    // background: linear-gradient(90deg, rgba(72, 196, 236, 1) 0%, rgba(67, 48, 189, 1) 100%);

    &__details {
      width: 25%;
    }

    &__details__btn {
      background-color: #11ffee00;
      border: none;
      cursor: pointer;
      padding: 1rem;
      width: 100%;
    }

    &__details__btn:hover {
      background-color: rgb(219, 219, 219);
      // border-radius: 20%;
    }
  }
}

@media screen and (max-width: 767px) {
  .btn__desktop {
    display: none;
  }
}

.overlay {
  z-index: 98;
}
.modal {
  z-index: 99;
  .auto-suggest ~ div {
    height: auto;
    overflow-y: auto;
  }
}
