.About {
  &__container {
    margin-top: 6rem;
    padding-top: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  &__h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 1.5rem;
  }
  &__h3 {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    color: rgb(255, 208, 0);
  }
  &__p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  &__team {
    display: flex;
    flex-direction: row;

    &__a {
      display: inline-block;
    }

    &__one {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
    }

    &__display {
      display: flex;
      align-items: center;
    }

    &__dev {
      padding-bottom: 0.5rem;
      text-align: center;
    }
    &__avatar {
      width: 50%;
      text-align: center;
    }
  }
}

.italic {
  font-style: italic;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .About__container {
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
  }
  .About__team {
    &__display {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-between;
    }
    &__truc {
      display: flex;
    }
    &__avatar {
      width: 15%;
    }
  }
}
